$blue: #214b90;

.blue-bg{
  background-color: $blue;
}

.logo{
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.head-h4{
  color: white;
  font-family: Georgia, serif;
  font-size: 32px;
  font-style: italic;
}
.head-h1{
  color: white;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.row2-h3{
  color: #333;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.row2-text{
  color: #999;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

.gray-bg{
  background-color: #ececec;
}

.row3-h2{
  color: #214b90;
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
}
.row3-text{
  color: #999;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.row4-text{
  color: #999;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0;
}
hr{
  border: 0;
  height: 1px;
  background-color: #ececec;
}
.footer-text{
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #999;
  margin-bottom: 0;

  .unsb{
    color: #787878;
  }
}
.pb0 th{
  padding-bottom: 0;
}